$color-dark: #262d33;
$bg-color-halfdark: #30363d;
$bg-color-medium: #6e99ae;
$bg-color-light: #edeff0;
$font-color-medium: #4b5157;
$font-color-light: #939699;
$accent-red: #ff4f52;
$accent-violet: #ac8ee3;
$accent-blue: #4592ff;
$accent-yellow: #ffa34d;
$accent-dustblue: #6e99ae;
